<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">首页</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <div class="panel panel-default">
                        <div style="padding: 10px 0 20px 10px;">
                            <a href="https://github.com/Tianhaoy/hanzomall" target="_blank">
                                <img th:src="@{/admin/dist/img/newbee-logo.png}" style="width: 480px;height: 240px;">
                                <p>Hanzo-mall 是一个Maven的电商系统，包括商城系统及商城后台管理系统，基于Spring Boot 2.1.0及相关
                                    技术栈开发。Spring Boot 整合MyBatis 操作数据库，Redis缓存主页信息，Quartz定时扫描订单发送提醒邮
                                    件，Thymeleaf 模板引擎，kaptcha 验证码，支付宝沙箱支付接口，阿里云的短信服务发送短信验证码，通过mail发送
                                    邮件提醒和验证码，使用poi 导出Execl表格，logback 打印日志，HTML5 搭载 JqGrid 分页插件，KindEditor 富文本编
                                    译器，阿里云OSS对象存储图片等主要功能。前台商城系统包含首页、手机免密登录，商品分类、新品上线、首页轮
                                    播、商品推荐、商品搜索、商品展示、购物车、订单结算、订单流程、个人订单管理、订单管理、会员中心等模块。后台
                                    管理系统包含数据面板、轮播图管理、商品管理、订单管理、会员管理、分类管理、设置等模块。整个商城的首页轮播图
                                    等配置信息都缓存到redis中，每天定时扫描未支付订单，给用户发送邮件提醒。</p>
                                <ul>
                                    <li>Spring Boot 整合 MyBatis 操作数据库</li>
                                    <li>Spring Boot 整合 Redis缓存主页信息以及统计在线人数</li>
                                    <li>Spring Boot 整合 Quartz定时扫描订单发送提醒邮件</li>
                                    <li>Spring Boot 整合 Thymeleaf 模板引擎</li>
                                    <li>Spring Boot 整合 支付宝沙箱支付接口</li>
                                    <li>Spring Boot 整合 阿里云的短信服务发送短信</li>
                                    <li>Spring Boot 整合 mail发送邮件</li>
                                    <li>Spring Boot 整合 poi 导出Execl表格</li>
                                    <li>Spring Boot 整合 kaptcha 验证码</li>
                                    <li>Spring Boot 整合 logback 打印日志</li>
                                    <li>Spring Boot 整合 swagger-ui 接口文档</li>
                                    <li>HTML5 搭载 JqGrid 分页插件</li>
                                    <li>KindEditor 富文本编译器</li>
                                    <li>前端css我是真不会，Vue.js有时间我学学</li>
                                    <li>js的话还可以,有前端模板就可以开发后端</li>
                                </ul>
                            </a>
                            <br>
                            <br>
                            <br>
                            <h3>邮箱：2469653218@qq.com</h3>
                            <!--<ul>
                                <li>我的邮箱：2469653218@qq.com</li>
                                <li>QQ技术交流群：951485783 <a target="_blank"
                                                         href="//shang.qq.com/wpa/qunwpa?idkey=6fed36b464bbf51b6dff2c3e698336e05ff8ccc38d1a5daaecbe200901a541e0"><img
                                        border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="SpringBoot技术交流"
                                        title="SpringBoot技术交流"></a>
                                </li>
                                <li>
                                Github:&nbsp;
                                    <iframe src="https://ghbtns.com/github-btn.html?user=Tianhaoy&repo=&type=star&count=true" frameborder="0" scrolling="0" width="50px" height="20px"></iframe>
                                </li>
                            </ul>-->
                            <!--<div id="social-buttons" class="hidden-print">
                                <div class="container">
                                    <ul class="list-inline">
                                        <li>
                                            <iframe class="github-btn"
                                                    src="https://ghbtns.com/github-btn.html?user=Tianhaoy&repo=&type=watch&count=true"
                                                    allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                        </li>

                                    </ul>
                                </div>
                            </div>-->
                            <!--<p></p>
                            <ul>
                                <li><a href="" target="_blank">Hanzo-mall in GitHub</a></li>
                                <li><a href="" target="_blank">Hanzo-mall in Gitee</a></li>
                            </ul>-->
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
</body>
</html>
